{% extends 'index.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <div class="container">
        <h1>Gallery</h1>
        <p>Take a look at tons of drinks we sell in delicy. (not all in this gallery.)</p>
        <div class="gallery">
            <img src="https://tr.rbxcdn.com/180DAY-e2b60396d6b6ecfd52bc0401442034e9/420/420/Gear/Webp/noFilter" alt="Latte">
            <img src="https://tr.rbxcdn.com/180DAY-90b877c5aecda54566b428250712c21b/420/420/Gear/Webp/noFilter" alt="Bloxy Cola">
            <img src="https://tr.rbxcdn.com/180DAY-a2ecaf223b1aed9ad0bcca15dda049be/420/420/Gear/Webp/noFilter" alt="Epic Sauce">
        </div>
    </div>
{% endblock %}